<style>
  body {
    overflow: hidden;
    margin: 0;
  }

  .ui {
    position: absolute;
  }
</style>
<body>
  <div id="container">
    <div id="blocker">
      <div id="instructions"></div>
    </div>
  </div>
  <div
    style="width: 100%; height: 50px; text-align: center; color: white"
    class="ui"
  >
    Simple Three.js Template
  </div>
  <button style="right: 0" id="1" class="ui">1</button>
  <button style="right: 0; top: 25" id="2" class="ui">2</button>

  <script src="/public/app.js" type="module"></script>
</body>
